.sidebar_compose{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 1px;
  text-transform: capitalize !important;
  color: gray ;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  border: 2pxsolid whitesmoke;
}